    body {
        margin: 0;
        padding: 0;
    }
    
    .body {
        width: 100%;
        margin: 0 auto;
    }
    
    .waterfall-container {
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        width: 370px;
    }
    
    .waterfall-item {
        width: 200px;
        margin: 0 10px 10px 0;
        background: rgb(246, 205, 205);
    }
    
    .waterfall-item:hover {
        -moz-transition: border-color 0.5s ease-in-out;
        transition: border-color 0.1s ease-in-out;
        border: 5px solid #f00;
    }
    
    @media screen and (max-width: 768px) {
        .waterfall-item {
            width: 80%;
            margin: 0 0 10px 25px;
        }
    }
    
    .waterfall-item.item-1 {
        height: 140px;
    }
    
    .waterfall-item.item-2 {
        height: 120px;
    }
    
    .waterfall-item.item-3 {
        height: 130px;
    }
    
    .waterfall-item.item-4 {
        height: 180px;
    }
    
    .waterfall-item.item-5 {
        height: 110px;
    }
    
    .waterfall-item.item-6 {
        height: 130px;
    }
    
    .waterfall-item.item-7 {
        height: 140px;
    }
    
    .waterfall-item.item-8 {
        height: 140px;
    }
    
    .waterfall-item.item-9 {
        height: 100px;
    }
    
    .waterfall-item.item-10 {
        height: 110px;
    }
    
    .waterfall-item.item-11 {
        height: 100px;
    }
    
    .waterfall-item.item-12 {
        height: 120px;
    }
    /* .waterfall-item.item-13 {
            height: 140px;
        } */
    
    .waterfall-item.item-14 {
        height: 180px;
    }
    
    .waterfall-item.item-15 {
        height: 130px;
    }
    
    .waterfall-item.item-16 {
        height: 130px;
    }
    
    .waterfall-item.item-17 {
        height: 110px;
    }
    
    .waterfall-item.item-18 {
        height: 110px;
    }
    
    .waterfall-item.item-19 {
        height: 110px;
    }
    
    .waterfall-item.item-20 {
        height: 120px;
    }
    
    .waterfall-item.item-21 {
        height: 110px;
    }
    
    .waterfall-item.item-22 {
        height: 120px;
    }
    
    .waterfall-item.item-23 {
        height: 110px;
    }
    
    .waterfall-item.item-24 {
        height: 100px;
    }
    
    .waterfall-item.item-25 {
        height: 140px;
    }
    
    .waterfall-item.item-26 {
        height: 110px;
    }
    
    .waterfall-item.item-27 {
        height: 110px;
    }
    
    .waterfall-item.item-28 {
        height: 110px;
    }
    
    .waterfall-item.item-29 {
        height: 130px;
    }
    
    .waterfall-item.item-30 {
        height: 110px;
    }
    
    .waterfall-item.item-31 {
        height: 110px;
    }
    
    .waterfall-item.item-32 {
        height: 110px;
    }
    
    .waterfall-item.item-33 {
        height: 140px;
    }
    
    .waterfall-item.item-34 {
        height: 160px;
    }
    
    .waterfall-item.item-35 {
        height: 110px;
    }
    
    .waterfall-item.item-36 {
        height: 110px;
    }
    
    .waterfall-item.item-37 {
        height: 110px;
    }
    
    .waterfall-item.item-38 {
        height: 140px;
    }
    
    .waterfall-item.item-39 {
        height: 130px;
    }
    
    .waterfall-item.item-40 {
        height: 130px;
    }
    
    .waterfall-item.item-41 {
        height: 140px;
    }
    
    .waterfall-item.item-42 {
        height: 180px;
    }
    
    .waterfall-item.item-43 {
        height: 140px;
    }
    
    .waterfall-item.item-44 {
        height: 120px;
    }
    
    .waterfall-item.item-45 {
        height: 280px;
    }
    
    .waterfall-item.item-46 {
        height: 110px;
    }
    
    .waterfall-item.item-47 {
        height: 140px;
    }
    
    .waterfall-item.item-48 {
        height: 140px;
    }
    
    .waterfall-item.item-49 {
        height: 110px;
    }
    
    .waterfall-item.item-50 {
        height: 110px;
    }
    
    .waterfall-item.item-51 {
        height: 110px;
    }
    
    .waterfall-item.item-52 {
        height: 110px;
    }
    
    .waterfall-item.item-53 {
        height: 140px;
    }
    
    .waterfall-item.item-54 {
        height: 170px;
    }
    
    .waterfall-item.item-55 {
        height: 120px;
    }
    
    .waterfall-item.item-56 {
        height: 130px;
    }
    
    .waterfall-item.item-57 {
        height: 140px;
    }
    
    .waterfall-item.item-58 {
        height: 140px;
    }
    
    .waterfall-item.item-59 {
        height: 160px;
    }
    
    .waterfall-item.item-60 {
        height: 150px;
    }
    
    .waterfall-item.item-61 {
        height: 140px;
    }
    
    .waterfall-item.item-62 {
        height: 170px;
    }
    
    .waterfall-item.item-63 {
        height: 340px;
    }
    
    .waterfall-item.item-64 {
        height: 120px;
    }
    
    .waterfall-item.item-65 {
        height: 320px;
    }
    
    .waterfall-item.item-67 {
        height: 380px;
    }
    
    .waterfall-item.item-68 {
        height: 2080px;
    }
    
    .waterfall-item.item-69 {
        height: 200px;
    }
    
    .waterfall-item.item-70 {
        height: 340px;
    }
    
    .waterfall-item.item-71 {
        height: 140px;
    }
    
    .waterfall-item.item-72 {
        height: 100px;
    }
    
    .waterfall-item.item-73 {
        height: 70px;
    }
    
    .waterfall-item.item-74 {
        height: 370px;
    }
    
    .waterfall-item.item-75 {
        height: 380px;
    }
    
    .waterfall-item.item-76 {
        height: 380px;
    }
    
    .waterfall-item.item-77 {
        height: 370px;
    }
    
    .waterfall-item.item-78 {
        height: 740px;
    }
    
    .waterfall-item.item-79 {
        height: 340px;
    }
    
    .waterfall-item.item-80 {
        height: 120px;
    }
    
    .waterfall-item.item-81 {
        height: 400px;
    }
    
    .waterfall-item.item-82 {
        height: 140px;
    }
    
    .waterfall-item.item-83 {
        height: 120px;
    }
    
    .waterfall-item.item-84 {
        height: 140px;
    }
    
    .waterfall-item.item-85 {
        height: 140px;
    }
    
    .waterfall-item.item-86 {
        height: 280px;
    }
    
    .waterfall-item.item-87 {
        height: 130px;
    }
    
    .waterfall-item.item-88 {
        height: 140px;
    }
    
    .waterfall-item.item-89 {
        height: 140px;
    }
    
    .waterfall-item.item-90 {
        height: 130px;
    }
    
    .waterfall-item.item-91 {
        height: 140px;
    }
    
    .waterfall-item.item-92 {
        height: 120px;
    }
    
    .waterfall-item.item-93 {
        height: 130px;
    }
    
    .waterfall-item.item-94 {
        height: 180px;
    }
    
    .waterfall-item.item-95 {
        height: 180px;
    }
    
    .waterfall-item.item-96 {
        height: 130px;
    }
    
    .waterfall-item.item-97 {
        height: 180px;
    }
    
    .waterfall-item.item-98 {
        height: 100px;
    }
    
    .waterfall-item.item-99 {
        height: 120px;
    }
    
    .waterfall-item.item-100 {
        height: 120px;
    }
    
    .waterfall-item.item-101 {
        height: 100px;
    }
    
    .waterfall-item.item-102 {
        height: 120px;
    }
    
    .waterfall-item.item-103 {
        height: 180px;
    }
    
    .waterfall-item.item-104 {
        height: 190px;
    }
    
    .waterfall-item.item-105 {
        height: 130px;
    }
    
    .waterfall-item.item-106 {
        height: 340px;
    }
    
    .waterfall-item.item-107 {
        height: 150px;
    }
    
    .waterfall-item.item-108 {
        height: 130px;
    }
    
    .waterfall-item.item-109 {
        height: 120px;
    }
    
    .waterfall-item.item-110 {
        height: 140px;
    }
    
    .waterfall-item.item-111 {
        height: 120px;
    }
    
    .waterfall-item.item-112 {
        height: 140px;
    }
    
    .waterfall-item.item-113 {
        height: 120px;
    }
    
    .waterfall-item.item-114 {
        height: 110px;
    }
    
    .waterfall-item.item-115 {
        height: 240px;
    }
    
    .waterfall-item.item-116 {
        height: 250px;
    }
    
    .waterfall-item.item-117 {
        height: 140px;
    }
    
    .waterfall-item.item-118 {
        height: 170px;
    }
    
    .waterfall-item.item-119 {
        height: 240px;
    }
    
    .waterfall-item.item-120 {
        height: 100px;
    }
    
    .waterfall-item.item-121 {
        height: 140px;
    }
    
    .waterfall-item.item-122 {
        height: 120px;
    }
    
    .waterfall-item.item-123 {
        height: 140px;
    }
    
    .waterfall-item.item-124 {
        height: 130px;
    }
    
    .waterfall-item.item-125 {
        height: 130px;
    }
    
    .waterfall-item.item-126 {
        height: 100px;
    }
    
    .waterfall-item.item-127 {
        height: 140px;
    }
    
    .waterfall-item.item-128 {
        height: 130px;
    }
    
    .waterfall-item.item-129 {
        height: 190px;
    }
    
    .waterfall-item.item-130 {
        height: 100px;
    }
    
    .waterfall-item.item-131 {
        height: 280px;
    }
    
    .waterfall-item.item-133 {
        height: 230px;
    }
    
    .waterfall-item.item-134 {
        height: 120px;
    }
    
    .waterfall-item.item-135 {
        height: 140px;
    }
    
    .waterfall-item.item-136 {
        height: 110px;
    }
    
    .waterfall-item.item-137 {
        height: 100px;
    }
    
    .waterfall-item.item-138 {
        height: 140px;
    }
    
    .waterfall-item.item-139 {
        height: 130px;
    }
    
    .waterfall-item.item-140 {
        height: 140px;
    }
    
    .waterfall-item.item-141 {
        height: 110px;
    }
    
    .waterfall-item.item-142 {
        height: 120px;
    }
    
    .waterfall-item.item-143 {
        height: 140px;
    }
    
    .waterfall-item.item-144 {
        height: 120px;
    }
    
    .waterfall-item.item-145 {
        height: 100px;
    }
    
    .waterfall-item.item-146 {
        height: 290px;
    }
    
    .waterfall-item.item-147 {
        height: 230px;
    }
    
    .waterfall-item.item-148 {
        height: 280px;
    }
    
    .waterfall-item.item-149 {
        height: 250px;
    }
    
    .waterfall-item.item-150 {
        height: 320px;
    }
    
    .waterfall-item.item-151 {
        height: 120px;
    }
    
    .waterfall-item.item-152 {
        height: 380px;
    }
    
    .waterfall-item.item-153 {
        height: 110px;
    }
    
    .waterfall-item.item-154 {
        height: 380px;
    }
    
    .waterfall-item.item-155 {
        height: 1940px;
    }
    
    .waterfall-item.item-156 {
        height: 140px;
    }
    
    .waterfall-item.item-157 {
        height: 260px;
    }
    
    .waterfall-item.item-158 {
        height: 280px;
    }
    
    .waterfall-item.item-159 {
        height: 100px;
    }
    
    .waterfall-item.item-160 {
        height: 100px;
    }
    
    .waterfall-item.item-161 {
        height: 380px;
    }
    
    .waterfall-item.item-162 {
        height: 370px;
    }
    
    .waterfall-item.item-163 {
        height: 340px;
    }
    
    .waterfall-item.item-164 {
        height: 340px;
    }
    
    .waterfall-item.item-165 {
        height: 400px;
    }
    
    .waterfall-item.item-166 {
        height: 400px;
    }
    
    .waterfall-item.item-167 {
        height: 320px;
    }
    
    .waterfall-item.item-168 {
        height: 320px;
    }
    
    .waterfall-item.item-169 {
        height: 130px;
    }
    
    .waterfall-item.item-170 {
        height: 110px;
    }
    
    .waterfall-item.item-171 {
        height: 130px;
    }
    
    .waterfall-item.item-172 {
        height: 320px;
    }
    
    .waterfall-item.item-173 {
        height: 140px;
    }
    
    .waterfall-item.item-174 {
        height: 180px;
    }
    
    .waterfall-item.item-175 {
        height: 120px;
    }
    
    .waterfall-item.item-176 {
        height: 150px;
    }
    
    .waterfall-item.item-177 {
        height: 180px;
    }
    
    .waterfall-item.item-178 {
        height: 280px;
    }
    
    .waterfall-item.item-179 {
        height: 240px;
    }
    
    .waterfall-item.item-180 {
        height: 140px;
    }
    
    .waterfall-item.item-181 {
        height: 280px;
    }
    
    .waterfall-item.item-182 {
        height: 50px;
    }
    
    .waterfall-item.item-183 {
        height: 190px;
    }
    
    .waterfall-item.item-184 {
        height: 170px;
    }
    
    .waterfall-item.item-185 {
        height: 140px;
    }
    
    .waterfall-item.item-186 {
        height: 120px;
    }
    
    .waterfall-item.item-187 {
        height: 340px;
    }
    
    .waterfall-item.item-188 {
        height: 120px;
    }