     /* loader */
     /* .loader {
             border: 10px solid #fff;
             border-radius: 50%;
             border-top: 10px solid #f00;
             width: 70px;
             height: 70px;
             -webkit-animation: spin 2s linear infinite;
             /* Safari */
     /* animation: spin 2s linear infinite;
         position: absolute;
         left: calc(50% - 35px);
         top: calc(50% - 35px);
     } */
     /* @keyframes spin {
         0% {
             transform: rotate(0deg);
         }
         100% {
             transform: rotate(360deg);
         }
     }
     
     body :not(.loader) {
         opacity: 0;
     }
     
     body .loader {
         display: block;
     }
     
     body.loaded :not(.loader) {
         opacity: 1;
     }
     
     body.loaded .loader {
         display: none;
     } */
     /* loader end */
     /* @media screen and (max-width: 768px) {
         .mybreadcrumb-t {
             display: none;
         }
         .mytitle {
             margin-top: 66px;
         }
         .carousel-inner img {
             height: 230px;
         }
         .my-img {
             margin-left: 0;
             margin-top: 20px;
         }
         .item>img {
             width: 50px;
             height: 50px;
         }
         .list-group {
             display: none;
         }
         .d-md-block {
             display: block !important;
         }
     } */