 body {
     font-family: $font-stack !important;
 }
 
 .loader {
     border: 10px solid $color-accordionShadow;
     border-radius: 50%;
     border-top: 10px solid $color-red;
     width: 70px;
     height: 70px;
     -webkit-animation: spin 2s linear infinite;
     /* Safari */
     animation: spin 2s linear infinite;
     position: absolute;
     left: calc(50% - 35px);
     top: calc(50% - 35px);
 }
 
 @keyframes spin {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }
 
 body :not(.loader) {
     opacity: 0;
 }
 
 body.loader {
     display: block;
 }
 
 body.loaded :not(.loader) {
     opacity: 1;
 }
 
 body.loaded .loader {
     display: none;
 }