    $color-red: #f00;
    $color-breadcrumbActive: #fabebe;
    $color-pink: #b54343;
    $color-navlink: yellow;
    $color-accordionText: #970404;
    $color-borderline: rgba(255, 0, 0, .3);
    $color-footerBg: rgb(68, 12, 12);
    $color-white: #fff;
    $color-lightGray: #bababa;
    $color-listGroupItemText: #737373;
    $color-grayText: #676767;
    $color-borderSolid: rgba(255, 255, 255, 0.125);
    $color-accordionBg: #fbdddd4b;
    $color-accordionShadow: rgba(0, 0, 0, 0.125);
    $color-listBg: rgba(0, 0, 0, 0);
    $color-dark: #000;