 .list {
     .text {
         display: none;
     }
     a:hover {
         color: $color-red !important;
     }
 }
 
 ol,
 ul {
     padding-left: 0rem !important;
 }
 
 .controller {
     color: $color-listGroupItemText;
     display: block;
     padding: 10px 10px 0 10px;
     text-decoration: none;
     border-bottom: 0.5px solid $color-breadcrumbActive;
      :hover {
         color: $color-red;
         background-color: $color-white;
     }
 }
 
 .text1.x,
 .text2.x {
     display: block;
 }
 
 .text {
     color: $color-accordionText;
     padding: 10px;
     background-color: $color-white;
 }