<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="../sass/app.css">
    <title>Hello, MyWorks!</title>
</head>

<body>
    <footer>
        <div class="layout">
            <div class="myfooter-wrapper clearfix">
                <div class="grid-3 myfooter-logo">
                    <a class="pb-3" href="index.html"><img alt="logo" src="images/alexw-logo.png"></a>
                    <p class="myfooter-text">這是我手刻 RWD 網站作品集，將他做成根據裝置大小不同，自動變換排版方式，這個網站是純前端CSS&HTML&JS應用。</p>
                </div>
                <div class="grid-3">
                    <p class="myfooter-heading border-mydanger pb-3">link 快速連結</p>
                    <ul class="myfootermenu">
                        <li>
                            <a href="index.html">About Us 關於我</a>
                        </li>
                        <li>
                            <a href="service.html">Services 服務</a>
                        </li>
                        <li>
                            <a href="allworks.html">Collected Works 總集</a>
                        </li>
                        <li>
                            <a href="#">myFacebook</a>
                        </li>
                    </ul>
                </div>
                <div class="grid-3">
                    <p class="myfooter-heading border-mydanger pb-3">Connection</p>
                    <ul class="myfooter-contact">
                        <li>
                            <i class="fa fa-phone"></i><span>phone:</span> <a href="#top">+886 916151455</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i><span>e-mail:</span> <a rel="reply-to" href="mailto:alexwu71@gaiml.com">alexwu71@gmail.com</a>
                        </li>
                        <li>
                            <i class="fa fa-chrome"></i><span>web:</span> <a href="#top">AlexWorks</a>
                        </li>
                    </ul>
                </div>
                <div class="grid-3">
                    <p class="myfooter-heading border-mydanger pb-3">recent posts</p>
                    <ul class="myfooterblog">
                        <li>
                            <a href="#">This work website is completed</a>
                            <p>11th August 2023</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="footer pagination justify-content-center">&copy; copyright 2023 by Alex in csscoke</div>
        </div>
    </footer>

</body>

</html>