<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../sass/app.css">

<navbar class="navbar navbar-expand-lg navbar-dark mybg-danger bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="./images/alexw-logo.png" alt="Bootstrap" width="78" height="30">
        </a>
        <div class="navbar-toggler" type="button" id="nav-icon1" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./service.html">Service</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="./works-app.html" target="_self">MobileApp 手機</a></li>
                        <li><a class="dropdown-item" href="./catalog.html" target="_self">Catalog 型錄</a></li>
                        <li><a class="dropdown-item" href="./websites.html" target="_self">WebSites 網站</a></li>
                        <li><a class="dropdown-item" href="./ad.html" target="_self">Creative 廣告</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="./allworks.html" target="_self">AllWorks 全作品</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a>
                </li>
            </ul>
            <form class="d-flex ms-auto">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger mybtn-outline-danger" type="submit">Search</button>
            </form>
            <div class="my-name d-md-flex">
                <div class="item">
                    <a href="./index.html#about"><img class="my-img align-item-stretch" src="./images/myphoto.png" alt="ALEX"></a>
                </div>
                <div class="item text-white mx-1">
                    <h6>吳 宥宏</h6>
                </div>

            </div>
        </div>
    </div>
</navbar>

<!-- navbar-MouseWheel -->
<script>
    let navbar = document.querySelector(".navbar");

    /**
     * 
     * @param {event} e MouseWheel往下(opacity = "0")往上(opacity = "1")
     */

    function MouseWheel(e) {
        e = e || window.event;
        ((e.wheelDelta <= 0 || e.detail > 0) ? (navbar.style.opacity = "0") : (navbar.style.opacity = "1"));
    }

    // hook event listener on window object
    if ('onmousewheel' in window) {
        window.onmousewheel = MouseWheel;
    } else if ('onmousewheel' in document) {
        document.onmousewheel = MouseWheel;
    } else if ('addEventListener' in window) {
        window.addEventListener("mousewheel", MouseWheel, false);
        window.addEventListener("DOMMouseScroll", MouseWheel, false);
    }

    // Menu navburger
    $(document).ready(function() {
        $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function() {
            $(this).toggleClass('open');
        });
    });
</script>
<!-- btn-top -->
<script>
    $(function() {

        var UI = {
            init: function() {
                this.quickMenuFn();
                this.topBtn();
            },

            initialize: function() {
                this.id = {
                    target: {
                        quick: '#quick',
                        stickyTop: '#footer'
                    },
                    topBtnClass: 'btn_top'
                };
                this.init();
            },

            quickMenuFn: function() {
                var quick = $(this.id.target.quick);
                var qTop = parseInt(quick.css('top'));

                $(window).scroll(function() {
                    var winTop = $(window).scrollTop();

                    quick.stop().animate({
                        top: winTop + qTop
                    }, 400);

                })
            },

            topBtn: function() {
                var btnLocation = $('.' + this.id.topBtnClass);
                var timerId = 0;

                $(window).on('scroll', function() {
                    var winTop = $(window).scrollTop();
                    if (winTop > 200) {
                        btnLocation.fadeIn();
                        clearInterval(timerId);
                        timerId = setInterval(btnEffet, 2000);
                    } else {
                        btnLocation.fadeOut();
                        clearInterval(timerId);
                    }

                });

                function btnEffet() {
                    btnLocation.fadeTo('300', 0.3).fadeTo('300', 1);
                }

                this.scrollTop(btnLocation);
            },

            scrollTop: function(eTarget, speed) {
                var speed = speed || null;
                eTarget.on('click', function() {
                    $('html, body').animate({
                        scrollTop: $("body").offset().top
                    }, speed)
                })
            }

        };

        $(function() {
            UI.initialize();
        })

    })
</script>