<navbar class="navbar navbar-expand-lg navbar-dark mybg-danger bg-gradient p-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="images/icons/alex-logo.png" alt="Bootstrap" width="78" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- mx-auto 置中 me-auto 預設靠左 -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="allworks.html" target="_self">Collected Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servce</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Works Area</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="works-app.html" target="_self">MobileApp 手機</a></li>
                        <li><a class="dropdown-item" href="catalog.html" target="_self">Catalog 型錄</a></li>
                        <li><a class="dropdown-item" href="websites.html" target="_self">WebSites 網站</a></li>
                        <li><a class="dropdown-item" href="creative.html" target="_self">Creative 廣告素材</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="allworks.html" target="_self">Collected Works 作品總集</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a>
                </li>
            </ul>
            <form class="d-flex ms-auto">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger mybtn-outline-danger" type="submit">Search</button>
            </form>
            <div class="my-name d-md-flex">
                <div class="item">
                    <img class="my-img align-item-stretch" src="https://picsum.photos/id/684/40/40" alt="">
                </div>
                <div class="item text-white mx-1">
                    <h6>Alex</h6>
                </div>

            </div>
        </div>
    </div>
</navbar>

<script>
    let navbar = document.querySelector(".navbar");

    /**
     * 
     * @param {event} e MouseWheel往下(opacity = "0")往上(opacity = "1")
     */

    function MouseWheel(e) {
        e = e || window.event;
        ((e.wheelDelta <= 0 || e.detail > 0) ? (navbar.style.opacity = "0") : (navbar.style.opacity = "1"));
    }

    // hook event listener on window object
    if ('onmousewheel' in window) {
        window.onmousewheel = MouseWheel;
    } else if ('onmousewheel' in document) {
        document.onmousewheel = MouseWheel;
    } else if ('addEventListener' in window) {
        window.addEventListener("mousewheel", MouseWheel, false);
        window.addEventListener("DOMMouseScroll", MouseWheel, false);
    }
</script>