@charset "utf-8";
/* CSS Document */

body {
	background: #FFF ;
}

.wrap {           /*主版範圍*/
	background-color: #000;
	width: 1024px;
	margin: 0 auto;
	text-size: 16px; color:#333
}

.header {      /*最上層頭高度*/
	background-color: green;





url(images/header_bg.jpg)  no-repeat center 0;
	height: 120px;
	text-align: right; /*文字右对齐*/
	background-image: url(../images/header_bg.jpg);
}  

.header h5 {
	margin: 0;/*外距0px*/
	padding: 0;/*內距0px*/
	text-decoration: none;/*連結文字去底線*/
	color: #666;/*文字顏色*/
}
.photo{   /*主圖像選單*/
	background-color: #39C;
url(images/photo_bg.jpg)  no-repeat center 0;
	height: 286px;
	margin: 0 auto;
	background-image: url(../images/photo_bg.jpg);
}



.context { /* 設定內容頁框 */
	background-color: #0C6;
url(images/context_bg.jpg)  no-repeat center 0;
	margin: 0 auto;
	top: 1558px;
	height: 1156px;
	background-image: url(../images/context_bg.jpg);
} 

.footer { /*設定最下方版權區 */
	background-color: #0C6;
url(images/footer_bg.jpg)  no-repeat center 0;
	margin: 0 auto;
	top: 1558px;
	height: 298px;
	background-image: url(../images/footer_bg.jpg);
